{% extends "base.html" %}

{% block content %}

  <div class="container py-5 mb-5">
    <h1 class="display-3" style="text-align: center">0100 0000 0100<span class="vim-caret">͏͏&nbsp;</span></h1>
    <h2 class="mb-4" style="text-align: center">eW91IG5hdWdodHkgbmF1Z2h0eQ==</h2>
    <div class="row py-4">
      <h1 style="text-align: center; width: 100%">
        Hackers are Wanderers and Explorers
      </h1>
      <h2 style="text-align: center; width: 100%">
        But sometimes they get lost too...
      </h2>
	  <!-- Alright alright, here you go, a free flag: AOFCTF{bu7_wh3r3_t0_pu7_7h1s?} -->
      <a href="javascript:history.back()" class="mt-5 btn btn-shadow btn-warning btn-block">GO BACK</a>
    </div>
  </div>

{% endblock %}
